@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
// Colors
$light-blue: #00ceff;
$medium-blue: #00B6ed;
$dark-blue: #00aedd;
$black: #222;
$dark-grey: #777;
$light-grey: #fafafa;



