@import '../../styles//global.scss';

.layout {
    display: flex;
    flex-direction: column; 
    
    .sidebar {
      width: 100%; 
      background-color: $light-blue;
      padding: 20px;
    }
    
    .main-content {
      padding: 20px;
    }
  
    @media (min-width: 768px) {
      flex-direction: row; 
      
      .sidebar {
        width: 20%;

        p {
            font-weight: 500;
            font-size: 1rem;

            span {
                display: block;
                font-weight: 400;
                font-size: 0.8rem;
            }
        }
      }
      
      .main-content {
        flex: 1;
        min-height: 100vh;
      }
    }
  }
  