@import '../../styles//global.scss';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fafafa;
    padding: 10px 20px;
    
    .header-items {
      display: flex;
      
      .header-item {
        margin-right: 40px;
        color: $dark-grey;
        cursor: pointer;
        font-size: 18px;

        &:hover {
            color: $black;
          }
      }
    }
    
    .header-add {
      display: flex;
      align-items: center;
      cursor: pointer;
      
      .header-add-icon {
        background-color: $dark-blue;
        color: white;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin-right: 5px;
        transition: background-color 0.3s;
      }
      
      &:hover .header-add-icon {
        background-color: $light-blue;
      }
    }
  }
  